@import 'antd/dist/antd.css';

// Import utils files
@import url('./less/reset.less');
@import url('./less/all_variables.less');
@import url('./less/_base.less');
@import url('./less/_mixins.less');
@import url('./less/icon.less');
@import url('./less/_custom.less');

// Start of App Less styles
.App {
  height: 100%;
}

.zm-layout {
  background-color: #170f23;
  display: flex;
  flex-direction: column;

  height: 100%;
}

////---------------------- START OF LAYOUT_TOP -----------------------

.zm-layout__top {
  flex-grow: 1;

  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  height: calc(100% - @height-footer);

  // debug only
  // justify-content: space-evenly;
}

// SUB COMPONENT INSIDE LAYOUT_TOP

// LAYOUT LEFT NAVBAR
.zm-layout__left {
  // desktop-max-down rules
  .col-span(2);

  .tablet-only( {
      .col-span(1);
    }
  );

  .mobile( {
      .col-span(2);
    }
  );
}

// LAYOUT CENTER MAIN CONTENT
.zm-layout__center {
  // flex-grow: 1;
  .col-span(7);
  .tablet({.col-span(11);});
  .mobile({.col-span(10);});
}

.zm-layout__right {
  .col-span(3);
  border-left: 1px solid var(--transparent-black-3);
  height: 100%;

  .tablet( {
      display: none;
    }
  );
}

//----------------------- END OF LAYOUT_TOP -----------------------

.zm-layout__bottom {
  border-top: 1px solid var(--transparent-black-3);
  height: @height-footer;

  // debug only
  // background-color: var(--light);
}

// wrapper of every content section
.main-content {
  height: calc(100% - @height-header);
  // margin-top: @height-header;
  .scrollbar();
  padding: 20px 60px 0 60px;
}

// END OF LAYOUT CLASSES

//----------------------- START OF COMPONENTS -----------------------

.navbar {
  --height-menu: 215px;
  --height-bottom: 50px;

  font-size: 16px;

  display: flex;
  flex-flow: column;
  background-color: var(--dark-purple);
  color: #f1f1f1;

  height: 100%;

  .letters-logo {
    -webkit-text-stroke: 1px #fff;
    font-size: 32px;
    font-weight: 900;
    height: @height-header;
    line-height: @height-header;
    padding: 0 15px;
    text-shadow: 0 0 5px #000;
  }

  .tablet({
    .letters-logo {
      display: none; 
    }

    .navbar__logo {
      height: @height-header;
      // padding: 0 15px;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar__logo-image {
      width: 45px;
      height: 45px;
      background-image: url("https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.6.22/static/media/icon_zing_mp3_60.f6b51045.svg");
    }
  });

  .logo-letter {
    &--N {
      color: var(--blue);
    }
    &--o {
      color: var(--green);
    }
    &--k {
      color: var(--orange);
    }
    &--i {
      color: var(--pink);
    }
  }

  .logo-letter--normal {
    -webkit-text-stroke: 0;
    color: #170f23;
    color: var(--dark);
    font-size: 65%;
    text-shadow: none;

    margin-left: 5px;
    position: relative;
    top: -1%;
  }

  &__main-menu {
    padding: 10px 0;
  }

  // an <hr />
  &__menu-divider {
    width: 85%;
    margin: 0 auto;
    border-color: var(--transparent-black-3);
  }

  &__sub-menu {
    flex: 1;
    padding: 10px 0;
    .scrollbar();
  }

  &__bottom {
    height: var(--height-bottom);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px 0 0;

    .zm-button {
      height: var(--height-bottom);
      width: 100%;
      text-align: left;

      background-color: transparent;

      color: var(--dark);
    }

    .zm-button:hover {
      opacity: 0.7;
    }

    .navbar__button-text {
      margin-left: 5px; // 5px
    }
  }

  .tablet({
    .menu__item, .zm-button {

      text-align: center;
    }

    .navbar__link-text, 
    .navbar__button-text {
      display: none;
    }
  });
}

.menu__item a.navbar__link {
  border-left: 3px solid transparent;
  color: var(--dark);
  display: block;
  padding: 8.5px 15px;

  &:active,
  &:hover,
  &:focus {
    color: var(--blue);
    border-color: var(--purple-red);
  }

  & > .navbar__link-text {
    margin-left: 10px; // 5px
    margin-right: 10px;
  }
}

// ------------------- END OF NAVBAR -------------------

// ------------------- START OF HEADER -------------------
.zm-header {
  display: flex;
  align-items: center;
  height: @height-header;
  padding: 0 60px;

  .laptop-only({
    padding: 0 15px;
  });

  .tablet({
    padding: 0 30px;
  });

  .sm-tablet({
    padding: 0 15px;
  });

  // .mobile({
  //   padding: 0 15px;
  // });

  &__left {
    .flex();

    .media-breakpoint-max(480px, {
      display: none;
    });

    .zm-button {
      border: 0;
      padding-left: 0;
      padding-right: 30px;

      background: transparent;
      color: var(--dark);

      .tablet({
        padding-right: 15px;
      });
    }
  }

  &__center {
    flex-grow: 1;
  }

  &__search {
    position: relative;

    & > i {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    .zm-input-text__input {
      background-color: var(--transparent-black-1);
      border: none;
      border-radius: 50px;
      padding: 0 10px 0 40px; // start with top and clockwise

      color: var(--dark);
      display: block;
      font-size: 16px;
      height: 40px;
      outline: none;
      transition: 0.3s;
      width: 100%;
    }
  }

  &__right {
    .flex();

    margin-left: 30px;

    .laptop-only({
      margin-left: 15px;
    });

    .sm-tablet({
      margin-left: 10px;
    });

    .mobile({
      display: none;
    });

    .zm-button {
      // background-color: rgba(0,0,0,.1);
      background-color: var(--transparent-black-1);
      border-radius: 50px;
      // color: #170f23;
      color: var(--dark);
      padding: 0;
      text-align: center;
      width: 40px;
    }

    .zm-button + .zm-button {
      margin-left: 10px;

      .tablet({
        margin-left: 7px;
      });
    }
  }
}

// --------------------------- END OF HEADER (SEARCH + USER's functions) ---------------------------

// --------------------------- START OF BOTTOM PLAYERBAR (SONG PLAYER CONTROL at footer) ---------------------------

.zm-player {
  .flex();
  height: 100%;

  &__left,
  &__center,
  &__right {
    .padding-x(10px);
  }

  &__left {
    .col-span(3);

    .tablet({
      display: none;
    });
  }

  &__center {
    .col-span(6);

    .tablet({
      .col-span(12);
    });
  }

  &__right {
    .col-span(3);

    .tablet({
      display: none;
    });
  }
}

.media {
  .flex(@justify-content: flex-start);

  &__thumbnail {
    border-radius: 5px;
    height: 64px;
    margin-right: 10px;
    min-width: 64px;
    overflow: hidden;
    width: 64px;

    & > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    .media__name {
      .short-title();
    }

    .media__author {
      font-size: 12px;
      opacity: 0.6;
    }
  }

  &__actions {
    .flex(center, center);
    margin-left: 4px;

    .zm-button {
      background-color: transparent;
      border-radius: 50%;
      color: #170f23;
      color: var(--dark);
      padding: 0;
      text-align: center;
      width: 36px;

      font-size: 14px;
      height: 36px;
    }

    .zm-button:hover {
      background-color: var(--transparent-black-3);
    }
  }
}

.player-control {
  .flex(center, center);
  flex-flow: column;

  &__top {
    flex-grow: 1;
    .flex(center, center);
    // height: 50px;
    // margin-bottom: -4px;
  }

  &__bar {
    .flex(center, center);

    .zm-button {
      background-color: transparent;
      border-radius: 50%;
      color: #170f23;
      color: var(--dark);
      height: 36px;
      padding: 0;
      text-align: center;
      width: 36px;

      &:not(.zm-button-play):hover {
        background-color: var(--transparent-black-3);
      }
    }
    .zm-button + .zm-button {
      margin-left: 10px;
    }

    .zm-button-play {
      border: 1px solid;
      height: 40px;
      width: 40px;

      &:hover {
        color: var(--blue);
      }
    }
  }

  // THE BOTTOM SLIDER BAR of .player-control__center
  // .player-control__bottom
  &__bottom {
    .flex(center, center);
    position: relative;
    width: 100%;
    bottom: -4px;

    .tablet({
      width: 99%;
    });
  }

  &__slider {
    .zm-slider();
  }

  &__time {
    text-align: center;
  }

  //*** RIGHT PART OF PLAYER CONTROLS INCLUDES VOLUME 🔊 CONTROLLER
  &__right {
    .flex(center, flex-end);

    .zm-button {
      width: 36px;
      min-width: 36px;
      height: 36px;
      padding: 0;
      margin-right: 5px;
      // height: 36px;
      border-radius: 50%;
      background-color: transparent;
      color: var(--dark);

      &:hover {
        background-color: var(--transparent-black-3);
      }
    }
  }

  &__volume {
    .flex(center, center);
    width: 50%;

    .volume-slider {
      .zm-slider();
    }
  }
}

// --------------------------- END OF BOTTOM PLAYERBAR (SONG PLAYER CONTROL at footer) ---------------------------

// --------------------------- START OF RIGHT PLAYLIST SIDEBAR (PLAYLIST at right sidebar) ---------------------------
.sidebar-right {
  height: 100%;

  &__header {
    .flex(center, space-between);
    .padding-x(10px);
    height: @height-header;

    .zm-tab-bar {
      font-size: 12px;
    }

    &-buttons .zm-button {
      font-size: 14px;
      width: 36px;
      height: 36px;
      .border-round();
      padding: 0;
      color: var(--dark);
      background-color: var(--transparent-black-1);

      & + .zm-button {
        margin-left: 10px;
      }
    }
  }

  &__content {
    .padding-x(10px);

    @__content-height: calc(100% - @height-header);
    height: @__content-height;
    // max-height: @__content-height;
    .scrollbar();
  }
}

.media-item {
  .flex(center, space-between);
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
  user-select: none;

  &__content {
    .flex(center, flex-start);
  }

  &__thumbnail {
    border-radius: 4px;
    height: 40px;
    margin-right: 10px;
    min-width: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > .zm-button {
      .flex(center, center);
      background: var(--transparent-white-3);
      color: #fff;
      font-size: 20px;
      height: 100%;
      left: 0;

      opacity: 0;
      padding: 10px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__name {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author {
    font-size: 12px;
    opacity: 0.6;
  }

  &__actions {
    .flex(center, flex-end);

    .zm-button {
      .border-round();
      padding: 0;
      width: 36px;
      height: 36px;
      color: var(--dark);
      font-size: 14px;
      background-color: transparent;
      display: none;

      & + .zm-button {
        margin-left: 5px;
      }

      &:hover {
        background-color: var(--transparent-black-3);
      }
    }
  }

  .zm-button {
    opacity: 0;
  }

  &.active {
    background-color: var(--transparent-black-3);
    .media-item__thumbnail .zm-button {
      opacity: 1;
    }

    .zm-button {
      opacity: 0;
    }
  }

  &:not(.active):hover {
    background-color: var(--transparent-black-1);
  }

  &:hover {
    .zm-button {
      opacity: 1;
    }

    .media-item__actions .zm-button {
      display: initial;
    }
  }
}

// ------------ HOME PAGE ------------
.home__media-list {
  margin-top: 40px;
}

.home__artists-slider {
  .margin-x(-15px);
}

// .home__artists-slider .zm-button {
//   // background-color: var(--transparent-black-1); // this copy
//   background-color: hsla(0, 0%, 100%, 0.15); // this better
//   .side-size(50px);
//   border-radius: 50px;
//   padding: 0;

//   color: var(--white);
//   font-size: 18px;
//   text-align: center;
// }

// SONG MEDIA CARD COMPONENT
.media-card-list {
  .flex(center, center);
  .margin-x(-10px);
}

.media-card {
  padding: 10px;

  &__thumbnail {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 10px;

    img {
      transition: 0.3s;
      border-radius: 5px;
      .image-cover();
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .media-card__actions {
        opacity: 1;
      }
    }
  }

  &__actions {
    .overlay();
    .flex(center, center);
    opacity: 0;
    background-color: var(--transparent-white-3);

    .zm-button {
      .icon-round-button();
      .side-size(42px);
    }
  }

  &__name {
    .short-title();
  }

  &__author {
    font-size: 12px;
    opacity: 0.6;
  }
}

.author-list {
  .flex(center, normal);
}

.author-item {
  .padding-x(10px);

  &__thumbnail {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 150px;

    img {
      .image-cover();
      transition: 0.3s;
    }
  }

  &__name {
    font-size: 16px;
    text-align: center;
  }

  &:hover {
    img {
      overflow: hidden;
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}

// ------ END OF AUTHOR & SONG MEDIA LIST & ITEMS ------

// ------------ START OF AUTHOR DETAIL PAGE  ------------

.author-detail-page {
  .zm-title {
    margin-bottom: 30px;
    font-size: 1.35em;
  }
}

// ------ START OF PERSONAL PAGE (SONGS, PLAYLISTS  ------
.personal-page {
  &__avatar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    img {
      border-radius: 50%;
      margin: auto;
      width: 120px;
    }
  }

  &__profile-name {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__tab-bar {
    .flex(center, center);
    margin-bottom: 30px;
  }

  &__song-list {
    margin-bottom: 50px;
  }

  .zm-tab-bar__item {
    padding: 8px 25px;
    text-transform: uppercase;
  }

  &__song-list .zm-title {
    margin-bottom: 30px;
  }

  // Tab sections
  &__overview &__overview__media-list {
    height: 230px;
    .scrollbar();

    .media-item {
      border-bottom: 1px solid var(--transparent-black-3);
      border-radius: 3px;

      &__actions .zm-button {
        display: initial;
        opacity: 1;
      }
    }
  }
}
