a {
  text-decoration: none;
  color: unset;
  transition: 0.3s;
}

.zm-button {
  border: none;
  border-radius: 4px;
  color: #fff;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding: 0 15px;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.zm-title {
  color: var(--dark);
  font-weight: 900;
  font-size: 18px;
  // margin-bottom: 30px;
}

.zm-column {
  .padding-x(10px);
}

.zm-gallery {
  position: relative;
  cursor: pointer;

  &__content {
    .flex(center, flex-start);
    position: relative;
    height: 230px;

    overflow: hidden;
  }

  // Slide item
  &__slide {
    position: absolute;
    height: 100%;
    padding: 15px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, z-index 0s linear 0.25s;
    // .col-span(4); // width: 33.33%

    &.show {
      z-index: 1;
      opacity: 1;
    }

    &.hide {
      transform: scale(0.1) translateX(0);
      // left: 50%;
      z-index: 0;
      opacity: 0;
    }

    &-inner {
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
    }

    img {
      .image-cover();
    }
  }

  &-prev,
  &-next {
    .flex(center, center);
    position: absolute;
    top: 0;
    z-index: 99;
    height: 100%;
    opacity: 0;
  }

  @x-pos: -15px;
  &-prev {
    left: @x-pos;
  }
  &-next {
    right: @x-pos;
  }

  .zm-gallery-control-btn {
    // background-color: var(--transparent-black-1); // this copy
    background-color: hsla(0, 0%, 100%, 0.15); // this better
    .side-size(50px);
    border-radius: 50px;
    padding: 0;

    color: var(--white);
    font-size: 18px;
    text-align: center;

    &:hover {
      background-color: var(--transparent-black-3);
    }
  }

  &:hover {
    .zm-gallery-prev,
    .zm-gallery-next {
      opacity: 1;
    }
  }

  // animation
  // .animate-slide-right {
  //   &-enter {
  //     transform: translateX(100%);
  //   }

  //   &-enter-active {
  //     transform: translateX(0%);
  //     transition: transform 1000ms ease-in-out;
  //   }

  //   &-exit {
  //     transform: translateX(0%);
  //   }

  //   &-exit-active {
  //     transform: translateX(-100%);
  //     transition: transform 1000ms ease-in-out;
  //   }
  // }
}
