a {
  text-decoration: none;
  color: unset;
  transition: 0.3s;
}

.zm-button {
  border: none;
  border-radius: 4px;
  color: #fff;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding: 0 15px;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
