.flex(@align-items: center, @justify-content: space-between) {
  display: flex;
  align-items: @align-items;
  justify-content: @justify-content;
}

.margin-x(@value) {
  margin-left: @value;
  margin-right: @value;
}
.margin-y(@value) {
  margin-top: @value;
  margin-bottom: @value;
}
.padding-x(@value) {
  padding-left: @value;
  padding-right: @value;
}
.padding-y(@value) {
  padding-top: @value;
  padding-bottom: @value;
}
.border-round() {
  border-radius: 50px;
}

.zm-tab-bar {
  .flex(center, center);
  .border-round();
  background-color: var(--transparent-black-1);
  font-size: 12px;
  padding: 3px;

  &__item {
    .border-round();
    padding: 7px 15px;
    cursor: pointer;

    &.active {
      background-color: var(--transparent-black-3);
    }
  }
}

// WIDTH SCREEN RESPONSIVE
// .screen-width-max(@max-width, @rules) {
.media-breakpoint-max(@max-width, @rules) {
  @media (max-width: @max-width) {
    @rules();
  }
}

// .screen-width-min(@min-width, @rules) {
.media-breakpoint-min(@min-width, @rules) {
  @media (min-width: @min-width) {
    @rules();
  }
}

.media-breakpoint-between(@min-width, @max-width, @rules) {
  @media (min-width: @min-width) and (max-width: @max-width) {
    @rules();
  }
}

// SPECIFIC SIZE DEVICES (from large to small)
.laptop(@rules) {
  .media-breakpoint-max(1200px, @rules);
}

.laptop-only(@rules) {
  .media-breakpoint-between(@tablet-width-max + 0.02px, 1200px, @rules);
}

.tablet(@rules) {
  .media-breakpoint-max(@tablet-width-max, @rules);
}

.tablet-only(@rules) {
  .media-breakpoint-between(@mobile-width-max + 0.02px, @tablet-width-max, @rules);
}

.sm-tablet(@rules) {
  .media-breakpoint-max(768px - 0.02px, @rules);
}

.mobile(@rules) {
  .media-breakpoint-max(@mobile-width-max, @rules);
}

// COMMON UTILITIES MIXINS AND CLASSES
.list-none {
  list-style-type: none;
}

// SIZING MIXINS
.col-span(@num) {
  @value: @num * (100% / 12);
  flex-basis: @value;
  // flex: 0 0 @value;
  width: @value;
}
